  <div class="panel panel-default">
    <div class="panel-heading">
        Proposez votre prestation
    </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @prestation, html: {multipart: true} do |f| %>
            <%= render 'shared/errors' %>
          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <label>Vous êtes</label>
                  <%= f.select :talent, [["Magicien","Magicien"], ["Mentaliste","Mentaliste"], ["Jongleur","Jongleur"], ["Cracheur de feu","Cracheur de feu"], ["Musicien","Musicien"], ["DJ","DJ"], ["Danseur","Danseur"]], id: "home_type", prompt: "A sélectionner...", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-4 select">
                <div class="form-group">
                  <label>Type de prestation</label>
                      <%= f.select :showing_type, [["Spectacle pour tous","Spectacle pour tous"], ["show privé","show privé"],
                            ["spectacle pour public averti","spectacle pour public averti"]],
                            prompt: "A sélectionner...", class: "form-control" %>
                </div>
              </div>
              <div class="col-md-4 select">
                <div class="form-group">
                    <label> Durée de votre prestation</label>
                      <%= f.select :duration, [["1 heure",1], ["2 heures",2],
                            ["3 heures", 3], ["4 heures",4], ["5 heures",5], ["+ de 5 heures", 6]],
                            prompt: "A sélectionner...", class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 select">
                 <div class="form-group">
                    <label>Déplacement (km) : </label>
                      <%= f.select :zone_km, [["< 10 km", "< 10 km" ], ["10 km", "10 km"],
                        ["> 10 km", "> 10 km"]],
                        prompt: "Sélectionner le nombre de km", class: "form-control" %>
                </div>
              </div>
            </div>

             <div class="row">
              <div class="form-group">
                <label>Votre nom de scène</label>
                <%= f.text_field :name_scene, placeholder: "Nom de scène", class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Donnez un nom à votre prestation</label>
                <%= f.text_field :listing_name, placeholder: "Titre de l'annonce", class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Description</label>
                <%= f.text_area :summary, rows:4, placeholder: "Décrivez-vous, parlez de votre spectacle...",
                        class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label>Adresse</label>
                <%= f.text_field :address, placeholder: "Où êtes-vous disponible ?", class: "form-control" %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span class="btn btn-default btn-file">
                    <i class = "fa fa-cloud-upload fa-lg"></i> Téléchargez vos photos !
                    <%= file_field_tag "images[]", type: :file, multiple: true %>
                  </span>
                </div>
              </div>
            </div>

            <div id="photos"><%= render 'photos/list' %></div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <%= f.check_box :is_indoor %> Prestation en intérieur
                </div>
                <div class="form-group">
                  <%= f.check_box :is_outdoor %> Prestation en extérieur
                </div>
                <div class="form-group">
                  <%= f.check_box :is_equipment %> Équipement
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Prix de votre prestation</label>
                    <div class="input-group">
                      <%= f.text_field :price, placeholder: "ex: 45€", class: "form-control" %>
                    <div class="input-group-addon">€</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <%= f.check_box :active %> Rendre votre annonce active
              </div>
            </div>

            <div class="actions">
              <%= f.submit "Je valide mon annonce", class: "btn btn-primary"%>
              <% if controller.action_name == 'edit' && Rails.env.development? %>
                  <br /><br /><br />
                <%= link_to "Je supprime mon annonce", prestation_path(@prestation), method: :delete, data: {confirm: "Supprimer mon annonce?"} %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

