<div class="footer">
  <div class="container-fluid">
    <div class="row">

         <div class="col-xs-12 col-sm-3 col-md-3">
            <ul class="list-unstyled list-footer">
                <li class="list-title">
                  <%= link_to "" do %>
                    <a>Mentions légales</a>
                </li>
                <% end %>
                <li class="list-subtitle">
                  <%= link_to "" do %>
                    <a>C.G.U</a>
                </li>
                <% end %>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3">
            <ul class="list-unstyled list-footer">
                <li class="list-title">
                  <%= link_to "" do %>
                    <a>Contact</a>
                </li>
                <% end %>
            </ul>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3">
            <ul class="list-unstyled list-footer">
                <li class="list-title">
                  <%= link_to "" do %>
                    <a>F.A.Q</a>
                </li>
                <% end %>
            </ul>
          </div>

        <div class="col-xs-12 col-sm-3 col-md-3">
          <ul class="list-unstyled list-inline list-footer">
              <li class="list-title">
                <a href="https://www.facebook.com/#" target="_blank">
                  <i class="fa fa-facebook-official fa-lg"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/#" target="_blank">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
            </li>
             <li>
              <a href="#" >
                <i class="fa fa-medium fa-lg" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
    </div>

        <div class="line-separator col-xs-12 col-sm-4 col-sm-offset-4"></div>
        <div class="copyright row text-center" id="footer-star">
            <p class="no-way">Toutes vos <span class="display-3 text-xs-center mt animated bounceInDown text-center"><%= icon('star', class: "text-danger animated pulse infinite") %></span> sont sur Capsss</p>
        </div>
  </div>
</div>



