  <div class="container">
    <div id="wrapper">
      <div id="sidebar">
        <div id="widget">
          <script>
            function initMap() {
              <% if @arrprestations.length > 0 %>
                  var uluru = {lat: <%= @arrprestations[0].latitude %>, lng: <%= @arrprestations[0].longitude %>};
                  var map = new google.maps.Map(document.getElementById('widget'), {
                      zoom: 13,
                    center: uluru
                  });
                <% else %>
                  var uluru = {lat: 48.866667, lng: 2.333333};
                  var map = new google.maps.Map(document.getElementById('widget'), {
                  zoom: 4,
                  center: uluru
                });
              <% end %>

              <% @arrprestations.each do |prestation| %>
                var marker = new google.maps.Marker({
                position: {lat: <%= prestation.latitude %>, lng: <%= prestation.longitude %>},
                map: map,
                title: "<%= prestation.listing_name %>",
              });
              <% end %>
            }
          </script>
          <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRw26oLIS-kzyqa1TPC3O9hGd-COyFr8M&callback=initMap">
          </script>
        </div>

        </div>
      </div>
      <div id="article">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <%= search_form_for @search, url: search_path do |f| %>
              <div class="row">
                <div class="col-md-3">
                  <%= text_field_tag :start_date, params[:start_date], placeholder:"Début", class:"form-control" %>
                </div>
                <div class="col-md-3">
                  <%= text_field_tag :end_date, params[:end_date], placeholder:"Fin", class:"form-control" %>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :price_gteq, placeholder: "Budget min", class: "form-control" %>
                </div>
                <div class="col-md-3">
                  <%= f.text_field :price_lteq, placeholder: "Budget max", class: "form-control" %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4">
                  <%= check_box_tag "q[showing_type_eq_any][]","Spectacle pour tous" %> Spectacle pour tous
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[showing_type_eq_any][]","Show privé" %> Show privé
                </div>
                <div class="col-md-4">
                  <%= check_box_tag "q[showing_type_eq_any][]","Spectacle pour public averti" %> Public averti
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Quels talents </label>
                     <%= f.select :talent_gteq, [["Magicien","Magicien"], ["Mentaliste","Mentaliste"], ["Jongleur","Jongleur"], ["Cracheur de feu","Cracheur de feu"], ["Musicien","Musicien"], ["DJ","DJ"], ["Danseur","Danseur"]], prompt: "A sélectionner...", class: "form-control" %>
                        </div>
                      </div>

                      <div class="col-md-4 select">
                        <div class="form-group">
                          <label> Durée </label>
                            <%= f.select :duration_gteq, [["1 heure",1], ["2 heures",2],
                                ["3 heures", 3], ["4 heures",4], ["5 heures",5], ["+ de 5 heures", 6]],
                                prompt: "A sélectionner...", class: "form-control" %>
                          </div>
                        </div>

                        <div class="col-md-4 select">
                          <div class="form-group">
                            <label>Déplacement (km) : </label>
                              <%= f.select :zone_km_gteq, [["< 10 km", "< 10 km" ], ["10 km", "10 km"],
                            ["> 10 km", "> 10 km"]],
                            prompt: "Nombre de km", class: "form-control" %>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-4">
                            <%= check_box_tag "q[is_indoor_eq]", true %> En intérieur
                          </div>
                          <div class="col-md-4">
                            <%= check_box_tag "q[is_outdoor_eq]", true %> En extérieur
                          </div>
                          <div class="col-md-4">
                            <%= check_box_tag "q[is_equipment_eq]", true %> Équipement
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-4">
                            <%= f.submit "Rechercher", class:"btn btn-primary" %>
                          </div>
                        </div>
                      <% end %>
                  <hr>
                  <div class="row">
                    <% if @arrprestations.empty? %>
                            Aucune annonce ne correpond à votre recherche.
                    <% else %>
                      <% @arrprestations.each do |prestation| %>
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading preview">
                          <%= image_tag prestation.photos[0].image.url(:medium) if prestation.photos.length > 0 %>
                        </div>
                        <div class="panel-body">
                          <%= image_tag avatar_url(prestation.user), class:"img-circle avatar-small" %>
                          <%= link_to prestation.listing_name, prestation %>
                        </div>
                      </div>
                    </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<script>
  $(function() {
    $('#start_date').datepicker({
      dateFormat: 'dd-mm-yy',
      monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
      'Septembre','Octobre','Novembre','Décembre'],
      dayNamesMin: ['D','L','M','M','J','V','S'],
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
      var newdate = new Date($("#start_date").datepicker("getDate"));
      newdate.setDate(newdate.getDate() + 1);
      $('#end_date').datepicker("option","minDate", newdate);
    }
  })

  $('#end_date').datepicker({
      dateFormat: 'dd-mm-yy',
      monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
      'Septembre','Octobre','Novembre','Décembre'],
      dayNamesMin: ['D','L','M','M','J','V','S'],
      minDate: 0,
      maxDate: '3m',
      onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
  })
</script>

<script>
 $(document).ready(function(){
  $("#sidebar").stick_in_parent({offset_top: 20});
 });
 </script>
